[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=org.meecast.mpvsdl
Exec=org.meecast.mpvsdl --player-operation-mode=pseudo-gui
Name=mpv-sdl
Name[en]=mpv-sdl

[X-Application]
Permissions=UserDirs;RemovableMedia;Internet;Audio
OrganizationName=org.meecast
ApplicationName=mpvsdl
